---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---



<!-- Main Start --> 


<div class="flex flex-wrap">
    <div class="w-full sm:w-8/12 mb-10">
      <div class="container mx-auto h-full sm:p-10">
        <nav class="flex px-4 justify-between items-center">
          <div class="text-4xl font-bold">
            Plant<span class="text-green-700">.</span>
          </div>
          <div>
            <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
          </div>
        </nav>
        <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
          <div class="w-full">
            <h1 class="text-4xl lg:text-6xl font-bold">Find your <span class="text-green-700">greeny</span> stuff for your room</h1>
            <div class="w-20 h-2 bg-green-700 my-4"></div>
            <p class="text-xl mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae maiores neque eaque ea odit placeat, tenetur illum distinctio nulla voluptatum a corrupti beatae tempora aperiam quia id aliquam possimus aut.</p>
            <button class="bg-green-500 text-white text-2xl font-medium px-4 py-2 rounded shadow">Learn More</button>
          </div>
        </header>
      </div>
    </div>
    <img src="https://images.unsplash.com/photo-1536147116438-62679a5e01f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Leafs" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
  </div>

<!-- Main End --> 

<!-- Inforamtion Start --> 

		<div class="col-span-2 pt-16 md:pt-12 mb-8">
			<h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl sm:leading-none">TeraBox MOD APK Information</h2>
				<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">TeraBox MOD APK provides seamless cloud storage, unlimited space and an ad-free environment with ensuring a simplified digital experience.</p>
					<div class="pt-6 mt-6 lg:grid lg:grid-cols-4 border-t border-gray-200 dark:border-gray-700">
						<div>
							<h5 class="text-sm text-slate-500">Developer</h5>
							<p class="inline-flex items-center text-base font-medium text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">FLEXTECH INC.</p>				
						<div>
							<br/>
							<p class="text-sm text-slate-500">Compatibility</p>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TeraBox for Iphone</p>
							<p class="font-light text-sm text-slate-500">Requires iOS 13.0 or later.</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TeraBox for iPad</p>
							<p class="font-light text-sm text-slate-500">Requires iPadOS 13.0 or later.</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TeraBox for iPad touch</p>
							<p class="font-light text-sm text-slate-500">Requires iOS 13.0 or later.</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TeraBox App Size</p>
							<p class="font-light text-sm text-slate-500">248.6 MB.</p>
						</div>
						</div>
			
						<div>
							<h5 class="text-sm text-slate-500">Android Details</h5>							
							<p class="inline-flex items-center text-base font-medium text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TERABOX MOD APK</p>				
						<div>
							<br/>
							<p class="text-sm text-slate-500">Compatibility</p>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TeraBox for Andriod</p>
							<p class="font-light text-sm text-slate-500">Requires Andriod 4.1 or later.</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">TeraBox App Size</p>
							<p class="font-light text-sm text-slate-500">116 MB.</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Ratings and reviews</p>
							<p class="font-light text-sm text-slate-500">4.4 - 2.83M reviews</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">latest Update</p>
							<p class="font-light text-sm text-slate-500">22 August, 2024.</p>
						</div>
						</div>
						
						<div>
							<p class="text-sm text-slate-500">Data Safety</p>							
							<h5 class="inline-flex items-center text-base font-medium text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">No Third Parties Data Sharing</h5>
						<div>
							<br/>
							<p class="text-sm text-slate-500">Data collected (app may collect)</p>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">App info and performance</p>
							<p class="font-light text-sm text-slate-500">Crash logs, Diagnostics</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Personal info</p>
							<p class="font-light text-sm text-slate-500">Name, Email, User IDs, Phone</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Audio</p>
							<p class="font-light text-sm text-slate-500">Music files and Other audio files</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Security practices</p>
							<p class="font-light text-sm text-slate-500">Data is encrypted in transit</p>
						</div>
						</div>

						<div>
							<p class="text-sm text-slate-500">TeraBox MOD APK Highlights</p>							
							<h5 class="inline-flex items-center text-base font-medium text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">License etc</h5>
						<div>
							<br/>
							<p class="text-sm text-slate-500">Price Plan</p>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Basic version</p>
							<p class="font-light text-sm text-slate-500">Free, 1024 GB</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Premium</p>
							<p class="font-light text-sm text-slate-500">$3.49, 2048 GB Monthly</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Category</p>
							<p class="font-light text-sm text-slate-500">Productivity, Tools</p>
							<br/>
							<p class="font-light inline-flex items-center text-base text-blue-500 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">Referral Program</p>
							<p class="font-light text-sm text-slate-500">Earn over $100 a week</p>
						</div>
						</div>

					</div>
		</div>
</div>
<hr>
<!-- Inforamtion End --> 


<!-- Main End --> 

