---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-12">
  <h2 class="text-left text-gray-800 text-2xl font-extrabold">You Might Also Like Related APK's</h2>
  



<div class="flex gap-6 md:gap-10 items-center justify-center mt-10 flex-wrap">


				<a href="https://astro.build/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/astro.32bc909e_1dRcG2.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="Astro" title="Astro" loading="eager" decoding="sync" id="id-Astro" width="172" height="172">
						</a><a href="https://react.dev/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/react.6ac482da_Z2tHqrS.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="React" title="React" loading="eager" decoding="sync" id="id-React" width="172" height="172">
						</a><a href="https://tailwindcss.com/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/tailwind.4f1229fa_Z1uWine.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="Tailwind CSS" title="Tailwind CSS" loading="eager" decoding="sync" id="id-Tailwind CSS" width="172" height="172">
						</a><a href="https://www.doppler.com/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/doppler.c569e910_ZlUQ1P.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="Doppler" title="Doppler" loading="eager" decoding="sync" id="id-Doppler" width="172" height="172">
						</a><a href="https://propelauth.com/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/propelauth.135cea14_2rRAnX.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="PropelAuth" title="PropelAuth" loading="eager" decoding="sync" id="id-PropelAuth" width="172" height="172">
						</a><a href="https://supabase.com/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/supabase.ebd27c5d_Z3mgrt.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="Supabase" title="Supabase" loading="eager" decoding="sync" id="id-Supabase" width="172" height="172">
						</a><a href="https://vercel.com/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/vercel.a5be5a3f_1F6JzC.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="Vercel" title="Vercel" loading="eager" decoding="sync" id="id-Vercel" width="172" height="172">
						</a><a href="https://stripe.com/" class="astro-4AB2ONZ4">
							<img src="https://b2bsaaskit.com/_astro/stripe.85e2e299_bacx5.webp" class="h-[86px] w-[86px] rounded-xl bg-white hover:opacity-50 astro-4AB2ONZ4" alt="Stripe" title="Stripe" loading="eager" decoding="sync" id="id-Stripe" width="172" height="172">
						</a>


  </div>
</div>
